[submodule "protocol"]
	path = submodules/protocol
	url = git@github.com:akdasa-studios/classroom-protocol.git
[submodule "submodules/protocol"]
	path = submodules/protocol
	url = git@github.com:akdasa-studios/classroom-protocol.git
